/* Write your CSS here */
.TeamMatches {
  background-image: linear-gradient(to bottom, #a4261d, #1e293b);
  height: 100%;
  padding: 60px;
}

.TeamBanner {
  width: 80vw;
  height: 40vh;
}

.latesh-head {
  color: aliceblue;
  margin-top: 20px;
}

.latesh-Match-Details {
  background-color: #0f172a;
  color: #ffffff33;
}

.upper-container {
  display: flex;
  justify-content: space-between;
}

.loader {
  display: flex;
  justify-content: center;
}

.hr-line {
  color: #ffffff;
}
